{% extends "base.html" %}

{% block title %}Personal Diet Plan{% endblock %}

{% block content %}
    <h2>Welcome to Personal Diet Plan</h2>
    <p>Personal Diet Plan is a Machine Learning based curator of recipes designed to give you the food you want, while keeping you healthy!</p>
    <p>Unline many other Machine Learning models, we use a questionaire that takes all of your preferances and requirements into account in order to give you a curated list of recipes that are both tasty and healthy!</p>
    <p><a href="{% url 'liked_foods' %}">Get started</a></p>

    {% if user.is_authenticated %}
        <p>Hello, {{ user.username }}! <a href="{% url 'logout' %}">Log out</a></p>
    {% else %}
        <a href="{% url 'login' %}">Log in</a>
    {% endif %}
{% endblock %}